@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #000000;
    --branco: #4aeb0038;
    --laranja: #ffffff;
    --azul-degrade: linear-gradient(97.54deg, #d8b61e 35.49%, #6958ff 165.37%);
    --fonte-principal: "Poppins";
    --azul: #395200;
    --fonte-secundario: "Josefin Sans";
    --preto: #f00000;
    --cinza: #8896a5;
    --cinza-claro: #edf3ec;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;